html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("Fondo-definitivo.gif");
    background-size: cover;
    background-position: center;
    --btnr: #564787ff;
    --inp: #dbcbd8ff;
    --bgc: #f2fdffff;
    --btna: #9ad4d6ff;
    --texto: #101935ff;
    font-family: sans-serif;
}

.container {
    background-color: var(--bgc);
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .8s all;
    gap: 10px;
    width: 70%;
    height: 90%;
    box-sizing: border-box;
}

.container:hover {
    opacity: 0.9;
}

.titulo {
    color: var(--texto);
    margin: 0;
}

.tareas-form {
    width: 100%;
    display: grid;
    grid-template-columns: 2;
    gap: 10px;
    box-sizing: border-box;
}

.tarea-nombre,
.tarea-enviar,
.tarea-div {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: none;
    color: var(--texto);
    background-color: var(--inp);
    text-align: center;
    box-sizing: border-box;
}

.tarea-nombre::placeholder {
    color: var(--texto);
    font-family: inherit;
}

.tarea-enviar {
    background-color: var(--btna);
}

.tarea-nombre:focus,
.tarea-enviar:focus {
    outline: 2px solid var(--btnr);
}

.contenedor-tareas,
.contenedor-tareas-completadas {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--btnr);
    border-radius: 12px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    height: 100%;
    overflow: auto;
}

.tarea-div {
    height: fit-content;
    position: relative;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-remove {
    border: none;
    border-radius: 5px;
    position: absolute;
    padding: 5px 8px;
    right: 10px;
    background-color: var(--btnr);
    color: var(--bgc);
}

#abrir-contenedor,
#abrir-contenedor-tareas-completadas {
    display:none;
}

.abrir-contenedor-label,
.abrir-contenedor-tareas-completadas-label {
    width: 100%;
    text-align: center;
    background-color: var(--btnr);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 12px;
    color: var(--texto);
    font-weight: bolder;
    user-select: none;
}

.tarea-checkbox {
    appearance: none;
    position: absolute;
    left: 10px;
    box-sizing: border-box;
    outline: 2px solid var(--btnr);
    width: 16px;
    height: 16px;
    border-radius: 2px;
    transition: .6s all;
}

.tarea-checkbox:hover {
    background-color: var(--btnr);
}

.tarea-checkbox:hover::before {
    content: "✔";
    position: absolute;
    right: 2px;
    top: 2px;
}